Repository project-oak/oak, pull requests merged in 2021-10, with the labels that each got.

#2311 Add descriptions for Linux
  docs/Docker.md
  docs/development.md
Labels: cla: yes

#2309 Change private metrics to be an extension with feature gating support
  oak_functions/examples/Cargo.lock
  oak_functions/examples/fuzzable/module/Cargo.toml
  oak_functions/examples/fuzzable/module/src/tests.rs
  oak_functions/examples/key_value_lookup/module/src/tests.rs
  oak_functions/examples/metrics/example.toml
  oak_functions/examples/metrics/module/Cargo.toml
  oak_functions/examples/weather_lookup/module/src/tests.rs
  oak_functions/loader/Cargo.toml
  oak_functions/loader/fuzz/fuzz_targets/data/fuzzable.wasm
  oak_functions/loader/fuzz/fuzz_targets/wasm_invoke.rs
  oak_functions/loader/src/grpc.rs
  oak_functions/loader/src/lib.rs
  oak_functions/loader/src/main.rs
  oak_functions/loader/src/metrics.rs
  oak_functions/loader/src/server.rs
  oak_functions/loader/src/tests.rs
  oak_functions/loader/src/tf.rs
  oak_functions/sdk/oak_functions/Cargo.toml
  oak_functions/sdk/oak_functions/src/lib.rs
  remote_attestation/java/src/com/google/oak/remote_attestation/ClientHandshaker.java
  remote_attestation/java/tests/com/google/oak/remote_attestation/MessageTest.java
Labels: cla: yes

#2312 Use wasmi in no_std mode
  oak_functions/examples/Cargo.lock
  oak_functions/loader/Cargo.lock
  oak_functions/loader/Cargo.toml
  oak_functions/loader/fuzz/Cargo.lock
  oak_functions/loader/src/server.rs
  oak_functions/loader/src/tests.rs
Labels: cla: yes, dependencies, Oak Functions

#2298 Switch to using S2 Geometry for weather lookup example
  experimental/oak_functions_with_envoy/scripts/run_client.sh
  oak_functions/client/android/com/google/oak/functions/android/client/MainActivity.java
  oak_functions/examples/Cargo.lock
  oak_functions/examples/key_value_lookup/example.toml
  oak_functions/examples/weather_lookup/README.md
  oak_functions/examples/weather_lookup/client/java/src/Main.java
  oak_functions/examples/weather_lookup/config.toml
  oak_functions/examples/weather_lookup/example.toml
  oak_functions/examples/weather_lookup/module/src/lib.rs
  oak_functions/examples/weather_lookup/module/src/tests.rs
  oak_functions/examples/weather_lookup/scripts/cloud_run_deploy
  oak_functions/load_test/src/main.rs
  oak_functions/location_utils/Cargo.lock
  oak_functions/location_utils/Cargo.toml
  oak_functions/location_utils/src/lib.rs
  oak_functions/location_utils/src/tests.rs
  oak_functions/lookup_data_generator/Cargo.lock
  oak_functions/lookup_data_generator/src/data.rs
  scripts/generate_and_upload_lookup_data_weather
Labels: cla: yes, Oak Functions
