Repository project-oak/oak, pull requests merged in 2022-04, with the labels that each got.

#2653 Fix cargo-deny error
  deny.toml
Labels: dependencies

#2644 Implement basic Oak IDL via Rust macros
  Cargo.lock
  Cargo.toml
  oak_idl/Cargo.toml
  oak_idl/src/lib.rs
  oak_idl/tests/oak_abi.rs
Labels: approval/all

#2656 Create an untrusted loader for the UEFI app
  Cargo.lock
  Cargo.toml
  experimental/uefi/README.md
  experimental/uefi/app/.cargo/config.toml
  experimental/uefi/app/Cargo.lock
  experimental/uefi/app/Cargo.toml
  experimental/uefi/app/src/main.rs
  experimental/uefi/loader/Cargo.toml
  experimental/uefi/loader/src/main.rs
  experimental/uefi/loader/src/qemu.rs
Labels: approval/all, uefi

#2685 Upgrade rustls and tokio-rustls
  Cargo.lock
  experimental/attestation_common/Cargo.toml
  experimental/attestation_common/src/keying_material.rs
  experimental/https_attestation/Cargo.toml
  experimental/https_attestation/src/main.rs
  experimental/https_attestation/src/server.rs
  experimental/tls_attestation/Cargo.toml
  experimental/tls_attestation/src/server.rs
Labels: dependencies

#2693 Build remote attestation for UEFI
  .devcontainer.json
  Dockerfile
  experimental/uefi/app/Cargo.lock
  experimental/uefi/app/Cargo.toml
  scripts/common
  third_party/ring/.github/workflows/ci.yml
  third_party/ring/Cargo.toml
  third_party/ring/build.rs
  third_party/ring/crypto/fipsmodule/rand/asm/rdrand-x86_64.pl
  third_party/ring/mk/cargo.sh
  third_party/ring/mk/install-build-tools.sh
  third_party/ring/src/rand.rs
Labels: approval/any

#2704 Add CBOR framing to the serial channel
  Cargo.lock
  experimental/uefi/app/Cargo.lock
  experimental/uefi/app/Cargo.toml
  experimental/uefi/app/src/main.rs
  experimental/uefi/app/src/serial.rs
  experimental/uefi/loader/Cargo.toml
  experimental/uefi/loader/src/main.rs
Labels: uefi

#2705 Create a gRPC interface for the untrusted loader
  Cargo.lock
  Cargo.toml
  experimental/uefi/app/src/main.rs
  experimental/uefi/client/Cargo.toml
  experimental/uefi/client/build.rs
  experimental/uefi/client/src/main.rs
  experimental/uefi/loader/Cargo.toml
  experimental/uefi/loader/build.rs
  experimental/uefi/loader/src/main.rs
  experimental/uefi/loader/src/qemu.rs
  experimental/uefi/loader/src/server.rs
  experimental/uefi/proto/echo.proto
Labels: uefi

#2745 Move request logic into a separate crate
  Cargo.lock
  Cargo.toml
  experimental/uefi/app/Cargo.lock
  experimental/uefi/app/Cargo.toml
  experimental/uefi/app/src/main.rs
  experimental/uefi/app/src/serial.rs
  experimental/uefi/runtime/Cargo.toml
  experimental/uefi/runtime/src/echo.rs
  experimental/uefi/runtime/src/lib.rs
Labels: uefi

#2742 Implement simple remote attestation for the UEFI app
  Cargo.lock
  experimental/uefi/app/Cargo.lock
  experimental/uefi/loader/src/qemu.rs
  experimental/uefi/runtime/Cargo.toml
  experimental/uefi/runtime/src/echo.rs
  experimental/uefi/runtime/src/lib.rs
  experimental/uefi/runtime/src/remote_attestation.rs
Labels: uefi

#2766 Implement a baremetal binary
  Cargo.lock
  Cargo.toml
  experimental/uefi/README.md
  experimental/uefi/baremetal/.cargo/config.toml
  experimental/uefi/baremetal/Cargo.lock
  experimental/uefi/baremetal/Cargo.toml
  experimental/uefi/baremetal/build.rs
  experimental/uefi/baremetal/layout.ld
  experimental/uefi/baremetal/runner
  experimental/uefi/baremetal/src/logging.rs
  experimental/uefi/baremetal/src/main.rs
  experimental/uefi/baremetal/src/memory.rs
  experimental/uefi/baremetal/src/serial.rs
  experimental/uefi/client/src/main.rs
  experimental/uefi/loader/src/main.rs
  experimental/uefi/loader/src/qemu.rs
  third_party/ring/build.rs
  third_party/ring/src/rand.rs
  third_party/rust-hypervisor-firmware-subset/layout.ld
  third_party/rust-hypervisor-firmware-subset/src/asm/ram32.s
  third_party/rust-hypervisor-firmware-subset/src/lib.rs
Labels: uefi
